@model franklins13.net.Models.Entry

@section JavaScript{
    <script type="text/javascript" src="@Url.Content("/Scripts/ractive.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/bootstrap.min.js")"></script>
}

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .virtue-row {
        margin: 7px auto !important;
        display: block;
    }

    .virtue-row:hover {
        background: #f8f8f8;
    }

    .principal {
        width: 100px;
        text-align: left;
        display: inline-block;
    }

    .form-control {
        width: 45px;
        padding: 4px;
        text-align: center;
        display: inline-block;
    }

    .virtue-value {
        width: 40px;
        padding: 7px;
        text-align: center;
        border-radius: 3px;
        display: inline-block;
        background: #efefef;
    }

    .entry-date{
        text-align:center;
    }
</style>

<div class="modal" id="modal"></div>


<div class="row">
    <div class="col-md-12">

        <h3 style="text-align:center">Edit Entry</h3>

        <div class="entry-date">
            <label>Date : </label>
            <span>@Model.EntryDate.ToString("dd MMM yyyy")</span>
        </div>

        <input type="hidden" id="id" value="@Model.Id" />

        <div id="entry-container" style="text-align:center; background:#fff"></div>

    </div>
</div>




<script type="text/template" id="virtue_template">
    <div class="entry-info">
        <label>Date : </label>
        <span>{{EntryDate}}</span>
        <label>Total : </label>
        <span>{{Total}}</span>
    </div>
    {{#Virtues:virtue}}
        <div id="row_virtue_{{i}}" class="row virtue-row">
            <div class="col-md-12" style="margin:auto;">
                <span class="principal">{{virtue}}</span>
                <a href="javascript:" class="btn btn-default" on-click="decrement">-</a>
                <span class="virtue-value">{{.}}</span>
                <a href="javascript:" class="btn btn-default" on-click="increment">+</a>
            </div>
        </div>
    {{/Virtues}}
</script>



<script type="text/javascript">
$(document).ready(function () {

    var ractive;

    var $id = $('#id'),
        $modal = $('#modal');

    var $virtueValues;

    var $entryContainer = $('#entry_container');

    var change = { virtue: "", value: "" };


    function init() {
        load().then(render).fail(failed);
    }


    function load() {
        return $.ajax({
            url: '/Entry/Data/' + $id.val(),
            type: 'get',
            dataType: 'json'
        })
    }


    function render(data) {

        console.info(data);

        ractive = new Ractive({
            el: 'entry-container',
            template: '#virtue_template',
            data: data
        });


        ractive.on('increment', function (event) {
            console.log('increment', event.context);
            var value = event.context + 1;
            var virtue = event.index.virtue
            console.log(value, virtue, ractive.data.Virtues[virtue])
            ractive.data.Virtues[virtue] = value;
            ractive.update('Virtues.' + virtue);
            var data = format(ractive.data);
            console.log(data)
            console.log(data)
            change.value = 1;
            change.virtue = virtue;
            save(data).then(success).fail(rollback);
        });

        ractive.on('decrement', function (event) {
            console.warn('decrement', event.context);
            var value = event.context - 1;
            var virtue = event.index.virtue
            console.log(value, virtue, ractive.data.Virtues[virtue]);
            ractive.data.Virtues[virtue] = value;
            ractive.update('Virtues.' + virtue);
            change.value = -1;
            change.virtue = virtue;

            var data = format(ractive.data);
            console.log(data);
            save(data).then(success).fail(rollback);
        });

    }



    function success(data) {
        $modal.modal('hide')
        console.info('successfully saved')
        console.log(ractive.data)
        console.log(data)
        ractive.data.Total = data.Total;
        ractive.update("Total");
    }


    function rollback() {
        $modal.modal('hide')
        console.warn('rollback values');
    }



    function save(data) {
        $modal.modal();
        return $.ajax({
            type: 'post',
            url: '/Entry/Save',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType : 'json'
        })
    }


    function format(entry) {
        var data = {
            Id: entry.Id,
            EntryDate: entry.EntryDate,
            UserID: entry.UserID,
            Total: 0
        }

        if (entry.hasOwnProperty("Virtues")) {
            for (var virtue in entry.Virtues) {
                var value = entry.Virtues[virtue];
                data["Total"] = data["Total"] + value;
                data[virtue] = value;
            }

        }

        return data;
    }



    function failed() {
        console.warn('failed to load data');
    }




    init();

});
</script>


