@model franklins13.net.Models.Entry

@section JavaScript{
    <script type="text/javascript" src="@Url.Content("/Scripts/ractive.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/bootstrap.min.js")"></script>
}

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .virtue-row{
        margin:7px auto !important;
        display:block;
    }

    .virtue-row:hover{
        background:#f8f8f8;
    }

    .principal{
        width:100px;
        text-align:left;
        display:inline-block;
    }

    .form-control{
        width:45px;
        padding:4px;
        text-align:center;
        display:inline-block;
    }

</style>

<div class="modal" id="modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p>Loading&hellip;</p>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-12">

        <h2 style="text-align:center">Todays Entry</h2>

        <input type="hidden" id="id" value="@Model.Id" />

        <div id="entry-container" style="text-align:center; background:#fff"></div>

    </div>
</div>




<script type="text/template" id="virtue_template">
{{#Virtues:virtue}}
    <div id="row_virtue_{{i}}" class="row virtue-row">
        <div class="col-md-12" style="margin:auto;">
            <span class="principal">{{virtue}}</span>
            <a href="javascript:" class="btn btn-default" on-click="decrement">-</a>
            <input type="text" name="{{virtue}}" class="form-control" value="{{.}}" />
            <a href="javascript:" class="btn btn-default" on-click="increment">+</a>
        </div>
    </div>
{{/Virtues}}
</script>



<script type="text/javascript">
$(document).ready(function () {

    var ractive;

    var $id = $('#id'),
        $modal = $('#modal');

    var $entryContainer = $('#entry_container');


    function init() {
        load().then(render).fail(failed);
    }


    function render(data) {
        ractive = new Ractive({
            el: 'entry-container',
            template: '#virtue_template',
            data : data
        });

        ractive.on('increment', function (event) {
            console.log('increment', event);
            /**
            ractive.set('Virtues.' + event.index.virtue, ++event.context);
            console.log(ractive.data);
            var data = format(ractive.data);
            console.info(data);
            **/
        });

        ractive.on('decrement', function (event) {
            console.warn('decrement', event);
            ractive.set('Virtues.' + event.index.virtue, --event.context);
            console.log(ractive.data);
            var data = format(ractive.data);
            console.info(data);
        });
    }


    function failed() {
        console.warn('failed to load data');
    }


    function load() {
       return $.ajax({
            url: '/Entry/TodaysData/' + $id.val(),
            type: 'get',
            dataType : 'json'
        })
    }


    function format(entry) {
        if (entry.hasOwnProperty("Virtues")) {

            if (!entry.hasOwnProperty("Total")) {
                entry["Total"] = 0;
            }

            for (var virtue in entry.Virtues) {
                var value = entry.Virtues[virtue];
                entry["Total"] = entry["Total"] + value;
                entry[virtue] = value;
            }

            delete entry["Virtues"];
        }

        return entry;
    }



    function submits() {

        $.ajax({
            type: 'post',
            url: '/Entry/Save',
            contentType: 'application/json',
            data: JSON.stringify(mockEntry),
            dataType : 'json',
            success: function (data) {
                console.info(data);
            },
            error: function () {
                console.warn('error')
            }
        })

    }



    init();

});
</script>


